In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('train_tc.csv')

In [92]:
df.head()

,Current.Loan.Amount,Term,Home.Ownership,Annual.Income,Purpose,Monthly.Debt,Years.of.Credit.History,Number.of.Open.Accounts,Number.of.Credit.Problems,Current.Credit.Balance,Maximum.Open.Credit,Bankruptcies,Tax.Liens,Loan.Status,Years_in_job,Credit_Score_Fair,Credit_Score_Good,Credit_Score_Very Good
0,17879,1,1,95357.0,0,1509.82,34.4,26,0,23986,40313,0.0,0.0,1,6,0,1,0
1,99999999,0,3,54406.0,0,1065.45,12.7,8,0,22938,31250,0.0,0.0,1,6,1,0,0
2,99999999,1,3,40480.0,2,573.47,32.7,9,1,3963,5669,1.0,0.0,1,0,0,1,0
3,11200,1,3,53965.0,0,1358.11,15.8,8,1,11782,25951,1.0,0.0,1,4,0,1,0
4,3608,1,1,47709.0,1,339.93,16.1,6,0,22909,25568,0.0,0.0,1,10,0,1,0

In [4]:
df.dtypes

Loan.ID                           int64
Current.Loan.Amount               int64
Term                             object
Credit.Score                    float64
Years.in.current.job             object
Home.Ownership                   object
Annual.Income                   float64
Purpose                          object
Monthly.Debt                    float64
Years.of.Credit.History         float64
Months.since.last.delinquent    float64
Number.of.Open.Accounts           int64
Number.of.Credit.Problems         int64
Current.Credit.Balance            int64
Maximum.Open.Credit               int64
Bankruptcies                    float64
Tax.Liens                       float64
Loan.Status                       int64
dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60804 entries, 0 to 60803
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Loan.ID                       60804 non-null  int64
 1   Current.Loan.Amount           60804 non-null  int64
 2   Term                          60804 non-null  object
 3   Credit.Score                  48575 non-null  float64
 4   Years.in.current.job          58275 non-null  object
 5   Home.Ownership                60804 non-null  object
 6   Annual.Income                 48575 non-null  float64
 7   Purpose                       60804 non-null  object
 8   Monthly.Debt                  60804 non-null  float64
 9   Years.of.Credit.History       60804 non-null  float64
 10  Months.since.last.delinquent  28329 non-null  float64
 11  Number.of.Open.Accounts       60804 non-null  int64
 12  Number.of.Credit.Problems     60804 non-null  int64
 13  Current.Credit.Balance        60804 non-null  int64
 14  Maximum.Open.Credit           60804 non-null  int64
 15  Bankruptcies                  60677 non-null  float64
 16  Tax.Liens                     60802 non-null  float64
 17  Loan.Status                   60804 non-null  int64
dtypes: float64(7), int64(7), object(4)
memory usage: 8.4+ MB

In [6]:
df.describe()

,Loan.ID,Current.Loan.Amount,Credit.Score,Annual.Income,Monthly.Debt,Years.of.Credit.History,Months.since.last.delinquent,Number.of.Open.Accounts,Number.of.Credit.Problems,Current.Credit.Balance,Maximum.Open.Credit,Bankruptcies,Tax.Liens,Loan.Status
count,60804.000000,6.080400e+04,48575.000000,4.857500e+04,60804.00000,60804.000000,28329.000000,60804.000000,60804.000000,60804.000000,6.080400e+04,60677.000000,60802.00000,60804.000000
mean,42094.538451,1.217772e+07,1104.772331,7.252253e+04,967.75930,18.235654,34.859402,11.113397,0.165861,15430.033863,3.316369e+04,0.115645,0.02870,0.759457
std,24303.803897,3.268413e+07,1526.402013,6.246093e+04,631.18808,7.030016,21.976407,4.993859,0.479679,18906.126169,2.155779e+05,0.346800,0.25697,0.427417
min,0.000000,4.910000e+02,585.000000,4.268000e+03,0.00000,3.600000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.00000,0.000000
25%,21046.750000,8.167750e+03,707.000000,4.470300e+04,536.78750,13.500000,16.000000,8.000000,0.000000,5907.750000,1.252175e+04,0.000000,0.00000,1.000000
50%,42094.500000,1.424000e+04,726.000000,6.157600e+04,851.81000,17.000000,32.000000,10.000000,0.000000,10995.000000,2.130700e+04,0.000000,0.00000,1.000000
75%,63142.250000,2.402325e+04,741.000000,8.681950e+04,1259.65250,21.700000,51.000000,14.000000,0.000000,19321.000000,3.574025e+04,0.000000,0.00000,1.000000
max,84189.000000,1.000000e+08,7510.000000,8.713547e+06,9060.85000,60.500000,176.000000,76.000000,15.000000,854602.000000,3.628434e+07,6.000000,15.00000,1.000000

In [7]:
df.isnull().sum()

Loan.ID                             0
Current.Loan.Amount                 0
Term                                0
Credit.Score                    12229
Years.in.current.job             2529
Home.Ownership                      0
Annual.Income                   12229
Purpose                             0
Monthly.Debt                        0
Years.of.Credit.History             0
Months.since.last.delinquent    32475
Number.of.Open.Accounts             0
Number.of.Credit.Problems           0
Current.Credit.Balance              0
Maximum.Open.Credit                 0
Bankruptcies                      127
Tax.Liens                           2
Loan.Status                         0
dtype: int64

In [8]:
#Years in current job, extracting years

In [9]:
df['Years.in.current.job'].fillna('Not Available', inplace = True)

In [10]:
df['Years.in.current.job'].value_counts()

10+ years            18810
2 years               5539
3 years               5048
less than  1 year     4996
5 years               4150
1 year                3901
4 years               3754
6 years               3532
7 years               3313
8 years               2831
Not Available         2529
9 years               2401
Name: Years.in.current.job, dtype: int64

In [11]:
#Replacing less than 1 year as 0
df['Years.in.current.job'] = df['Years.in.current.job'].replace('less than  1 year', '0 years')

In [12]:
df['Years.in.current.job'].value_counts()

10+ years        18810
2 years           5539
3 years           5048
0 years           4996
5 years           4150
1 year            3901
4 years           3754
6 years           3532
7 years           3313
8 years           2831
Not Available     2529
9 years           2401
Name: Years.in.current.job, dtype: int64

In [13]:
import re

In [14]:
df['Years_in_job'] = df['Years.in.current.job'].str.extract('(\d+)')

In [15]:
df.head()

,Loan.ID,Current.Loan.Amount,Term,Credit.Score,Years.in.current.job,Home.Ownership,Annual.Income,Purpose,Monthly.Debt,Years.of.Credit.History,Months.since.last.delinquent,Number.of.Open.Accounts,Number.of.Credit.Problems,Current.Credit.Balance,Maximum.Open.Credit,Bankruptcies,Tax.Liens,Loan.Status,Years_in_job
0,0,17879,Short Term,739.0,6 years,Home Mortgage,95357.0,Debt Consolidation,1509.82,34.4,5.0,26,0,23986,40313,0.0,0.0,1,6
1,1,99999999,Long Term,619.0,6 years,Rent,54406.0,Debt Consolidation,1065.45,12.7,NaN,8,0,22938,31250,0.0,0.0,1,6
2,3,99999999,Short Term,738.0,0 years,Rent,40480.0,Medical Bills,573.47,32.7,60.0,9,1,3963,5669,1.0,0.0,1,0
3,4,11200,Short Term,738.0,4 years,Rent,53965.0,Debt Consolidation,1358.11,15.8,NaN,8,1,11782,25951,1.0,0.0,1,4
4,5,3608,Short Term,731.0,10+ years,Home Mortgage,47709.0,Home Improvements,339.93,16.1,47.0,6,0,22909,25568,0.0,0.0,1,10

In [16]:
df['Years_in_job'].value_counts()

10    18810
2      5539
3      5048
0      4996
5      4150
1      3901
4      3754
6      3532
7      3313
8      2831
9      2401
Name: Years_in_job, dtype: int64

In [17]:
#Dummy Variable

In [18]:
df['Term'].value_counts()

Short Term    44184
Long Term     16620
Name: Term, dtype: int64

In [19]:
df['Home.Ownership'].value_counts()

Home Mortgage    29447
Rent             25737
Own Home          5516
HaveMortgage       104
Name: Home.Ownership, dtype: int64

In [20]:
df['Purpose'] = df['Purpose'].replace('other', 'Other')

In [21]:
df['Purpose'].value_counts()

Debt Consolidation      47888
Other                    5628
Home Improvements        3535
Business Loan             910
Buy a Car                 765
Medical Bills             695
Buy House                 420
Take a Trip               296
major_purchase            213
small_business            170
moving                     83
Educational Expenses       70
vacation                   65
wedding                    64
renewable_energy            2
Name: Purpose, dtype: int64

In [22]:
df['Purpose'] = df['Purpose'].replace('Business Loan', 'Misc')
df['Purpose'] = df['Purpose'].replace('Buy a Car', 'Misc')
df['Purpose'] = df['Purpose'].replace('Medical Bills', 'Misc')
df['Purpose'] = df['Purpose'].replace('Buy House', 'Misc')
df['Purpose'] = df['Purpose'].replace('Take a Trip', 'Misc')
df['Purpose'] = df['Purpose'].replace('major_purchase', 'Misc')
df['Purpose'] = df['Purpose'].replace('small_business', 'Misc')
df['Purpose'] = df['Purpose'].replace('moving', 'Misc')
df['Purpose'] = df['Purpose'].replace('Educational Expenses', 'Misc')
df['Purpose'] = df['Purpose'].replace('vacation', 'Misc')
df['Purpose'] = df['Purpose'].replace('renewable_energy', 'Misc')
df['Purpose'] = df['Purpose'].replace('wedding', 'Misc')

In [23]:
'''#One Hot Encoding
df = pd.get_dummies(df, columns=['Term'], prefix = ['Term'])
df = pd.get_dummies(df, columns=['Home.Ownership'], prefix = ['Home.Ownership'])
df = pd.get_dummies(df, columns=['Purpose'], prefix = ['Purpose'])'''

#label Encoding
from sklearn import preprocessing
label_encoder_term = preprocessing.LabelEncoder() 
label_encoder_Purpose = preprocessing.LabelEncoder() 
label_encoder_HO = preprocessing.LabelEncoder() 

df['Term']= label_encoder_term.fit_transform(df['Term']) 
df['Purpose']= label_encoder_Purpose.fit_transform(df['Purpose']) 
df['Home.Ownership']= label_encoder_HO.fit_transform(df['Home.Ownership'])

In [24]:
#Viewing Dataframe
df.head()

,Loan.ID,Current.Loan.Amount,Term,Credit.Score,Years.in.current.job,Home.Ownership,Annual.Income,Purpose,Monthly.Debt,Years.of.Credit.History,Months.since.last.delinquent,Number.of.Open.Accounts,Number.of.Credit.Problems,Current.Credit.Balance,Maximum.Open.Credit,Bankruptcies,Tax.Liens,Loan.Status,Years_in_job
0,0,17879,1,739.0,6 years,1,95357.0,0,1509.82,34.4,5.0,26,0,23986,40313,0.0,0.0,1,6
1,1,99999999,0,619.0,6 years,3,54406.0,0,1065.45,12.7,NaN,8,0,22938,31250,0.0,0.0,1,6
2,3,99999999,1,738.0,0 years,3,40480.0,2,573.47,32.7,60.0,9,1,3963,5669,1.0,0.0,1,0
3,4,11200,1,738.0,4 years,3,53965.0,0,1358.11,15.8,NaN,8,1,11782,25951,1.0,0.0,1,4
4,5,3608,1,731.0,10+ years,1,47709.0,1,339.93,16.1,47.0,6,0,22909,25568,0.0,0.0,1,10

In [25]:
#Replacing nan in Years in Bankruptcies
df['Bankruptcies'].fillna(float(0.0), inplace = True)

In [26]:
df['Tax.Liens'].fillna(0, inplace = True)

In [27]:
#Logic is If annual income is missing then probably out of job
df.loc[ (pd.isnull(df['Years_in_job'])) & (pd.isnull(df['Annual.Income'])), 'Years_in_job'] = 0

In [28]:
#Replacing string 0 to int 0
df['Years_in_job'] = df['Years_in_job'].replace('0', 0)

In [29]:
df.isnull().sum()

Loan.ID                             0
Current.Loan.Amount                 0
Term                                0
Credit.Score                    12229
Years.in.current.job                0
Home.Ownership                      0
Annual.Income                   12229
Purpose                             0
Monthly.Debt                        0
Years.of.Credit.History             0
Months.since.last.delinquent    32475
Number.of.Open.Accounts             0
Number.of.Credit.Problems           0
Current.Credit.Balance              0
Maximum.Open.Credit                 0
Bankruptcies                        0
Tax.Liens                           0
Loan.Status                         0
Years_in_job                     2010
dtype: int64

In [30]:
cut_labels_5 = ['Fair', 'Good', 'Very Good', 'Poor']
cut_bins = [579, 669, 739, 799, 8000]
df['Credit_Score_Cat'] = pd.cut(df['Credit.Score'], bins=cut_bins, labels=cut_labels_5)

In [31]:
#Filling missing values
df['Credit_Score_Cat'].fillna('Fair', inplace = True)

In [32]:
df = pd.get_dummies(df, columns=['Credit_Score_Cat'], prefix = ['Credit_Score'])

In [33]:
df['Annual.Income'].fillna(df['Annual.Income'].mean(), inplace = True)

In [34]:
#Dropping empty years in job this time
df['Years_in_job'].fillna(5, inplace = True)

In [35]:
df['Years_in_job'].astype(str).astype(int)

0         6
1         6
2         0
3         4
4        10
         ..
60799     3
60800     3
60801     5
60802     9
60803     8
Name: Years_in_job, Length: 60804, dtype: int32

In [36]:
df.head()

,Loan.ID,Current.Loan.Amount,Term,Credit.Score,Years.in.current.job,Home.Ownership,Annual.Income,Purpose,Monthly.Debt,Years.of.Credit.History,...,Current.Credit.Balance,Maximum.Open.Credit,Bankruptcies,Tax.Liens,Loan.Status,Years_in_job,Credit_Score_Fair,Credit_Score_Good,Credit_Score_Very Good,Credit_Score_Poor
0,0,17879,1,739.0,6 years,1,95357.0,0,1509.82,34.4,...,23986,40313,0.0,0.0,1,6,0,1,0,0
1,1,99999999,0,619.0,6 years,3,54406.0,0,1065.45,12.7,...,22938,31250,0.0,0.0,1,6,1,0,0,0
2,3,99999999,1,738.0,0 years,3,40480.0,2,573.47,32.7,...,3963,5669,1.0,0.0,1,0,0,1,0,0
3,4,11200,1,738.0,4 years,3,53965.0,0,1358.11,15.8,...,11782,25951,1.0,0.0,1,4,0,1,0,0
4,5,3608,1,731.0,10+ years,1,47709.0,1,339.93,16.1,...,22909,25568,0.0,0.0,1,10,0,1,0,0

In [37]:
#Dropping columns
df.drop([ 'Months.since.last.delinquent', 'Years.in.current.job', 'Loan.ID', 'Credit.Score','Credit_Score_Poor' ], axis = 1, inplace = True)

In [97]:
df.loc[ (df['Number.of.Credit.Problems'] != 0), 'Number.of.Credit.Problems'] = 1
df.loc[ (df['Number.of.Credit.Problems'] == 0), 'Number.of.Credit.Problems'] = 0

In [98]:
from sklearn.model_selection import train_test_split

In [99]:
df.columns

Index(['Current.Loan.Amount', 'Term', 'Home.Ownership', 'Annual.Income',
       'Purpose', 'Monthly.Debt', 'Years.of.Credit.History',
       'Number.of.Open.Accounts', 'Number.of.Credit.Problems',
       'Current.Credit.Balance', 'Maximum.Open.Credit', 'Bankruptcies',
       'Tax.Liens', 'Loan.Status', 'Years_in_job', 'Credit_Score_Fair',
       'Credit_Score_Good', 'Credit_Score_Very Good'],
      dtype='object')

In [100]:
X_label = ['Current.Loan.Amount', 'Term', 'Home.Ownership', 'Annual.Income',
       'Purpose', 'Monthly.Debt', 'Years.of.Credit.History',
       'Number.of.Open.Accounts', 'Number.of.Credit.Problems',
       'Current.Credit.Balance', 'Maximum.Open.Credit', 'Bankruptcies',
       'Tax.Liens', 'Years_in_job', 'Credit_Score_Fair',
       'Credit_Score_Good', 'Credit_Score_Very Good']

In [101]:
y_label = ['Loan.Status']

In [102]:
X = df[X_label]

In [103]:
y = df[y_label]

In [104]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [105]:
from sklearn.ensemble import RandomForestClassifier

clf=RandomForestClassifier(random_state = 1111)

In [106]:
clf.fit(X_train,y_train)

C:\Users\LENOVO\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1111,
                       verbose=0, warm_start=False)

In [107]:
y_pred = clf.predict(X_test)

In [108]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8098018255077707

In [109]:
rf_best_cv = RandomForestClassifier(n_estimators = 1400, min_samples_split = 5, min_samples_leaf = 1, max_features = 'sqrt', max_depth = 30, bootstrap = True, random_state = 1111 )

In [110]:
rf_best_cv.fit(X_train, y_train)

C:\Users\LENOVO\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=30, max_features='sqrt',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=5,
                       min_weight_fraction_leaf=0.0, n_estimators=1400,
                       n_jobs=None, oob_score=False, random_state=1111,
                       verbose=0, warm_start=False)

In [111]:
y_pred_rf_best_cv = rf_best_cv.predict(X_test)

In [112]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred_rf_best_cv))

Accuracy: 0.8121864978209029

In [94]:
df['Number.of.Credit.Problems'].value_counts()

0     52438
1      7224
2       790
3       233
4        73
5        23
6        10
8         4
7         4
10        2
15        1
11        1
9         1
Name: Number.of.Credit.Problems, dtype: int64

In [95]:
df.loc[ (df['Number.of.Credit.Problems'] != 0), 'Loan.Status'].value_counts()

1    6372
0    1994
Name: Loan.Status, dtype: int64

In [62]:
df_submission = pd.read_csv('test_TC.csv')

In [63]:
df_submission['Years.in.current.job'].fillna('Not Available', inplace = True)

In [64]:
#Replacing less than 1 year as 0
df_submission['Years.in.current.job'] = df_submission['Years.in.current.job'].replace('less than  1 year', '0 years')

In [65]:
df_submission['Years_in_job'] = df_submission['Years.in.current.job'].str.extract('(\d+)')

In [66]:
df_submission['Purpose'] = df_submission['Purpose'].replace('other', 'Other')

In [67]:
df_submission['Purpose'] = df_submission['Purpose'].replace('Business Loan', 'Misc')
df_submission['Purpose'] = df_submission['Purpose'].replace('Buy a Car', 'Misc')
df_submission['Purpose'] = df_submission['Purpose'].replace('Medical Bills', 'Misc')
df_submission['Purpose'] = df_submission['Purpose'].replace('Buy House', 'Misc')
df_submission['Purpose'] = df_submission['Purpose'].replace('Take a Trip', 'Misc')
df_submission['Purpose'] = df_submission['Purpose'].replace('major_purchase', 'Misc')
df_submission['Purpose'] = df_submission['Purpose'].replace('small_business', 'Misc')
df_submission['Purpose'] = df_submission['Purpose'].replace('moving', 'Misc')
df_submission['Purpose'] = df_submission['Purpose'].replace('Educational Expenses', 'Misc')
df_submission['Purpose'] = df_submission['Purpose'].replace('vacation', 'Misc')
df_submission['Purpose'] = df_submission['Purpose'].replace('renewable_energy', 'Misc')
df_submission['Purpose'] = df_submission['Purpose'].replace('wedding', 'Misc')

In [68]:
#label Encoding
from sklearn import preprocessing
label_encoder_term_submission = preprocessing.LabelEncoder() 
label_encoder_Purpose_submission = preprocessing.LabelEncoder() 
label_encoder_HO_submission = preprocessing.LabelEncoder() 

df_submission['Term']= label_encoder_term_submission.fit_transform(df_submission['Term']) 
df_submission['Purpose']= label_encoder_Purpose_submission.fit_transform(df_submission['Purpose']) 
df_submission['Home.Ownership']= label_encoder_HO_submission.fit_transform(df_submission['Home.Ownership'])

In [69]:
#Replacing nan in Years in Bankruptcies
df_submission['Bankruptcies'].fillna(float(0.0), inplace = True)

In [70]:
df_submission['Tax.Liens'].fillna(0, inplace = True)

In [71]:
#Logic is If annual income is missing then probably out of job
df_submission.loc[ (pd.isnull(df_submission['Years_in_job'])) & (pd.isnull(df_submission['Annual.Income'])), 'Years_in_job'] = 0

In [72]:
#Replacing string 0 to int 0
df_submission['Years_in_job'] = df_submission['Years_in_job'].replace('0', 0)

In [73]:
df_submission['Credit_Score_Cat'] = pd.cut(df_submission['Credit.Score'], bins=cut_bins, labels=cut_labels_5)

In [74]:
#Filling missing values
df_submission['Credit_Score_Cat'].fillna('Fair', inplace = True)

In [75]:
df_submission = pd.get_dummies(df_submission, columns=['Credit_Score_Cat'], prefix = ['Credit_Score'])

In [76]:
df_submission['Annual.Income'].fillna(df_submission['Annual.Income'].mean(), inplace = True)

In [77]:
#Dropping empty years in job this time
df_submission['Years_in_job'].fillna(5, inplace = True)

In [78]:
df_submission['Years_in_job'].astype(str).astype(int)

0        1
1        6
2        3
3        3
4        0
        ..
23381    8
23382    5
23383    0
23384    1
23385    1
Name: Years_in_job, Length: 23386, dtype: int32

In [79]:
#Dropping columns
df_submission.drop([ 'Months.since.last.delinquent', 'Years.in.current.job', 'Loan.ID', 'Credit.Score','Credit_Score_Poor' ], axis = 1, inplace = True)

In [80]:
X_test_submission = df_submission[X_label]

In [81]:
y_pred_submission = clf.predict(X_test_submission)

In [90]:
y_pred_rf_best_cv = rf_best_cv.predict(X_test_submission)

In [83]:
np.savetxt("Submission_4_Status.csv", y_pred_submission, delimiter=",")

In [91]:
np.savetxt("Submission_5_Status_GridCV.csv", y_pred_rf_best_cv, delimiter=",")